@mixin flex($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$colorOne: #001a26;
$colorTwo: #053752;
$colorThree: #f0810e;
$colorFour: #e5de44;