*, *::after, *::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
}

a{
  text-decoration: none;
  color: black;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
